.body_index {
  font-family: 'Roboto', sans-serif;
  height: 160vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.section1 {
  padding: 40px 80px;
}

.section2 {
  margin: 40px 0;
}

/* Styles pour la section À propos */
#about {
  padding: 40px 80px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

#about .container {
  text-align: center;
  margin: 0 auto;
}

#about h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #1155CC;
}

#about p {
  margin-bottom: 20px;
  color: #333;
  line-height: 1.6;
}