.body_display_observation {
    font-family: 'Roboto', sans-serif;
    height: 160vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.date_obs, .station_obs {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.container-footer {
    padding-bottom: 60px;
}

/* Centrer le formulaire contenant le bouton */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Bouton du graphique */
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
