@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}


body{
    font-family: 'Roboto', sans-serif;
    height: 160vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.section1{
    padding: 40px 80px;
}

.section2 {
    margin: 40px 0;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 252, 255);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #2774a0;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 60px;
    border-radius: 50px;
}

#header .acceuil {
    font-size: 20px;
}


/* Bannière section */


.image-pleine-largeur {
    width: 100%;    /* L'image prendra toute la largeur de l'élément parent */
    height: 600px;  /* Hauteur fixe de l'image */
    object-fit: cover;  /* L'image couvre l'espace défini sans être déformée */
  }
  


/* Coeur de l'index */

.container {
    display: flex; /* Utilise Flexbox pour disposer les sections côte à côte */
    margin: 100px 20px; /* Marge de 20px sur les côtés de la fenêtre */
  }
  .half-width {
    flex: 1; /* Chaque section prendra la moitié de l'espace disponible */
    margin: 0 50px; /* Marge importante entre les deux sections */
    background-color: #f8f8f8; /* Couleur de fond pour visibilité */
    padding: 20px; /* Espacement à l'intérieur des sections */
  }
  .left-column {
    display: flex; /* Utilisation de Flexbox à l'intérieur de cette section */
    flex-direction: column; /* Organisation en colonnes */
    gap: 20px; /* Espace entre les lignes */
  }
  .left-column-item {
    display: flex; /* Chaque item est aussi un flex container */
    align-items: center; /* Centrage des éléments verticalement */
    justify-content: space-between; /* Espace réparti entre les éléments */
  }
  .container img {
    border-radius: 50px; /* Bordures arrondies pour toutes les images */
  }