/* Styles pour la section des actualités */
#actualites {
    padding: 40px 80px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond légèrement transparente */
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

#actualites .container {
    max-width: 1200px;
    margin: 0 auto;
}


#actualites .article {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: 0.3s;
}

#actualites .article:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#actualites .article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
}

#actualites .article h2 {
    margin-bottom: 10px;
    color: rgb(0, 4, 255);
}

#actualites .article p {
    margin-bottom: 10px;
    color: #333;
}

#actualites .article a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

#actualites .article a:hover {
    text-decoration: underline;
}
