@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}


body{
    font-family: 'Roboto', sans-serif;
    height: 160vh;
}


.section1{
    padding: 40px 80px;
}

.section2 {
    margin: 40px 0;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 252, 255);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #2774a0;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 60px;
    border-radius: 50px;
}

#header .acceuil {
    font-size: 20px;
}

/* Tableau section */


#display_regions {
    text-align: center; /* Centre le contenu du bloc */
    width: 100%; /* Utilise toute la largeur de la section pour le centrage */
}

h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 2rem;
}

table {
    margin: 0 auto; /* Centrage du tableau */
    width: 80%; /* Adjust the width as needed */
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd; /* Bordure légère pour les cellules */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #4CAF50; /* Couleur de fond des en-têtes */
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternance de couleur pour les lignes */
}
tr:hover {
    background-color: #ddd; /* Effet au survol pour les lignes */
}
a {
    color: #1155CC; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
}
a:hover {
    text-decoration: underline; /* Soulignement au survol */
}