@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 160vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section1{
    padding: 40px 80px;
}

.section2 {
    margin: 40px 0;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 252, 255);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #2774a0;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 100px;
    border-radius: 50px;
}

/* Bannière section */


.image-pleine-largeur {
    width: 100%;    /* L'image prendra toute la largeur de l'élément parent */
    height: 600px;  /* Hauteur fixe de l'image */
    object-fit: cover;  /* L'image couvre l'espace défini sans être déformée */
  }
  


/* Coeur de l'index */

.container {
    display: flex; /* Utilise Flexbox pour disposer les sections côte à côte */
    margin: 100px 20px; /* Marge de 20px sur les côtés de la fenêtre */
  }
  .half-width {
    flex: 1; /* Chaque section prendra la moitié de l'espace disponible */
    margin: 0 50px; /* Marge importante entre les deux sections */
    background-color: #f8f8f8; /* Couleur de fond pour visibilité */
    padding: 20px; /* Espacement à l'intérieur des sections */
  }
  .left-column {
    display: flex; /* Utilisation de Flexbox à l'intérieur de cette section */
    flex-direction: column; /* Organisation en colonnes */
    gap: 20px; /* Espace entre les lignes */
  }
  .left-column-item {
    display: flex; /* Chaque item est aussi un flex container */
    align-items: center; /* Centrage des éléments verticalement */
    justify-content: space-between; /* Espace réparti entre les éléments */
  }
  .container img {
    border-radius: 50px; /* Bordures arrondies pour toutes les images */
  }

.form-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
  position: relative;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #001BFF;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 10px 340px;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/*riverflow en haut à gauche*/
 
.loader {
    position: relative;
  }
  
  .loader span {
    position: absolute;
    color: #fff;
    transform: translate(-10%, -50%);
    font-size: 38px;
  }
  
  .loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px rgb(0, 57, 244);
  }
  
  .loader span:nth-child(2) {
    color: rgb(0, 4, 255);
    -webkit-text-stroke: 1px rgb(17, 0, 255);
    animation: uiverse723 3s ease-in-out infinite;
  }
  
  /*animations des vagues du riverflow */
  
  @keyframes uiverse723 {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
       54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
       51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }

  
  /*NavBar pour les liens hypertexts*/
  
  .lien{
    font-size: 18px;
    color: #0039f4;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration:none;
    padding: 0px 20px;
  }
  
  .lien:focus,
  .lien:hover {
    color: #497aff;
  }
  
  .lien:focus:after,
  .lien:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .lien:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #497aff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }