@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}


body{
    font-family: 'Roboto', sans-serif;
    height: 160vh;
}


.section1{
    padding: 40px 80px;
}

.section2 {
    margin: 40px 0;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 252, 255);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #2774a0;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 60px;
    border-radius: 50px;
}

#header .acceuil {
    font-size: 20px;
}

/* Tableau section */

#display_stations {
    text-align: center; /* Centre le contenu du bloc */
    width: 100%; /* Utilise toute la largeur de la section pour le centrage */
}

h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 2rem;
}

table {
    margin: 0 auto; /* Centrage du tableau */
    width: 80%; /* Adjust the width as needed */
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd; /* Bordure légère pour les cellules */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #4CAF50; /* Couleur de fond des en-têtes */
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternance de couleur pour les lignes */
}
tr:hover {
    background-color: #ddd; /* Effet au survol pour les lignes */
}
.lien_détails {
    color: #1155CC; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
}
.lien_détails:hover {
    text-decoration: underline; /* Soulignement au survol */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

 /*riverflow en haut à gauche*/
 
 .loader {
    position: relative;
  }
  
  .loader span {
    position: absolute;
    color: #fff;
    transform: translate(-10%, -50%);
    font-size: 38px;
  }
  
  .loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px rgb(0, 57, 244);
  }
  
  .loader span:nth-child(2) {
    color: rgb(0, 4, 255);
    -webkit-text-stroke: 1px rgb(17, 0, 255);
    animation: uiverse723 3s ease-in-out infinite;
  }
  
  /*animations des vagues du riverflow */
  
  @keyframes uiverse723 {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
       54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
       51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  
  /*NavBar pour les liens hypertexts*/
  
  .lien{
    font-size: 18px;
    color: #0039f4;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration:none;
    padding: 0px 20px;
  }
  
  .lien:focus,
  .lien:hover {
    color: #497aff;
  }
  
  .lien:focus:after,
  .lien:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .lien:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #497aff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }