{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
{% endblock %}

{% block body %}
<body class="body_index">
<section id="header">
    <a href="{{ url_for('home') }}">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div class="menu-toggle" id="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <script>
        document.getElementById('menu-icon').addEventListener('click', function() {
            var navbar = document.getElementById('navbar');
            if (navbar.style.display === "flex") {
                navbar.style.display = "none";
            } else {
                navbar.style.display = "flex";
            }
        });
    </script>
    <div>
        <ul id="navbar">
            <a href="{{ url_for('home') }}" class="lien">Accueil</a>
            <a href="{{ url_for('but') }}" class="lien">À propos</a>
            <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
        </ul>
    </div>
</section>

<section id="bannierre">
    <img src="/static/img/bg1.jpg" alt="" class="image-pleine-largeur">
</section>

<section id="about">
    <div class="container">
        <h1>À propos de nous</h1>
        <p>
            Bienvenue sur notre site, nous sommes une équipe dédiée à fournir les meilleures comparaisons et actualités sur l'écoulement des cours d'eau.
            Notre mission est de vous offrir des informations précises et utiles pour vous aider à comprendre l'écoulement des cours d'eau.
            Nos données se concentrent sur l'API de l'écoulement des cours d'eau, ce service donne les données de l'observatoire national des étiages sur 
            la base de données Onde. Ces données ont plus de 10 ans de collecte et s’étendent dans toute la France hexagonale.
            <br><br>
            L’obtention de ces données permet d’analyser la situation du moment, mais aussi d’avoir une analyse de l’évolution des phénomènes hydrologiques dans le temps sur 
            du court ou moyen terme aidant ainsi les pouvoirs publics. Les scientifiques sont également intéressés par ce genre de données puisqu’elles leur permettent de mieux
            comprendre les relations nappe-rivière et leur permettent de développer des modèles de prévision d'étiage. Les données de l’écoulement des cours d’eau procurent 
            ainsi la possibilité de mieux prendre en compte le changement climatique et son impact sur les cours d’eau.
        </p>
    </div>
</section>
<footer>
    <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>
</body>
{% endblock %}
