{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='communes.css')}}">
{% endblock %}

{% block body %}
<section id="header">
    <a href="#">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div>
        <ul id="navbar">
          <a href="{{ url_for('home') }}" class="lien">Accueil</a>
          <a href="#" class="lien">Comparaison</a>
          <a href="#" class="lien">À propos</a>
          <a href="#" class="lien">Actus</a>
        </ul>
    </div>
</section>

<section id="display_communes">
    <h1>Communes du département {{ libelle_departement }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Libellé communes</th>
                <th>Voir plus de details</th>
            </tr>
        </thead>
        <tbody>
            {% for commune in communes %}
            <tr>
                <td>{{ commune.libelle_commune }}</td>
                <td><a class="lien_détails" href="{{ url_for('stations_par_commune', code_commune=commune.code_commune) }}">Voir détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% endblock %}