{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='global.css')}}">
{% endblock %}

{% block body %}
<section id="header">
    <a href="{{ url_for('home') }}">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div class="menu-toggle" id="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <script>
        document.getElementById('menu-icon').addEventListener('click', function() {
            var navbar = document.getElementById('navbar');
            if (navbar.style.display === "flex") {
                navbar.style.display = "none";
            } else {
                navbar.style.display = "flex";
            }
        });
    </script>
    <div>
        <ul id="navbar">
            <a href="{{ url_for('home') }}" class="lien">Accueil</a>
            <a href="#" class="lien">Comparaison</a>
            <a href="{{ url_for('but') }}" class="lien">À propos</a>
            <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
        </ul>
    </div>
</section>
<div class="container-footer">
<section id="display_communes">
    <h1 class="h1_tab">Communes du département {{ libelle_departement }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Libellé communes</th>
                <th>Voir plus de détails</th>
            </tr>
        </thead>
        <tbody>
            {% for commune in communes %}
            <tr>
                <td>{{ commune.libelle_commune }}</td>
                <td><a class="lien_détails" href="{{ url_for('stations_par_commune', code_commune=commune.code_commune) }}">Voir détails</a></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</section>
<footer>
    <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>
</div>

{% endblock %}