<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sélection de Date et Région</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sélectionnez la Date, la Région et le Département</h1>
    <form action="{{ url_for('submit_date') }}" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="region">Région:</label>
        <select name="region" id="region" required>
            {% for region in regions %}
            <option value="{{ region.code_region }}">{{ region.libelle_region }}</option>
            {% endfor %}
        </select>

        <label for="departement">Département:</label>
        <select name="departement" id="departement" required>
            <!-- Les options seront chargées dynamiquement en fonction de la région sélectionnée -->
        </select>

        <button type="submit">Rechercher Campagnes</button>
    </form>
</body>
</html>
