{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='departements.css') }}">
{% endblock %}

{% block body %}

<section id="header">
    <a href="#">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div>
        <ul id="navbar">
          <a href="{{ url_for('home') }}" class="lien">Accueil</a>
          <a href="#" class="lien">Comparaison</a>
          <a href="#" class="lien">À propos</a>
          <a href="#" class="lien">Actus</a>
        </ul>
    </div>
</section>

<section id="display_departements">
    <h1>Departements de la Région {{ libelle_region }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom des départements</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for departement in departements %}
            <tr>
                <td>{{ departement.libelle_departement }}</td>
                <td><a class="lien_détails" href="{{ url_for('view_departement_details', code_departement=departement.code_departement) }}">Voir détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}