{% extends 'base.html' %}

{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Observations des Stations</title>
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
</head>
<body class="body_display_observation">
<section id="header">
    <a href="{{ url_for('home') }}">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div class="menu-toggle" id="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <script>
        document.getElementById('menu-icon').addEventListener('click', function() {
            var navbar = document.getElementById('navbar');
            if (navbar.style.display === "flex") {
                navbar.style.display = "none";
            } else {
                navbar.style.display = "flex";
            }
        });
    </script>
    <ul id="navbar">
        <a href="{{ url_for('home') }}" class="lien">Accueil</a>
        <a href="#" class="lien">Comparaison</a>
        <a href="{{ url_for('but') }}" class="lien">À propos</a>
        <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
    </ul>
</section>
{% endblock %}

{% block body %}
<div class="container-footer">
<h1 class="h1_tab">Observations des stations</h1>
<p class="date_obs">Date de requête: {{ date_min }} à {{ date_max }}</p>
<p class="station_obs">Station ID: {{ station_id }}</p>
<table>
    <thead>
        <tr>
            <th>Date d'observation</th>
            <th>Libellé écoulement</th>
            <th>Emoji</th>
            <th>Code Campagne</th>
            <th>Cours d'eau</th>
        </tr>
    </thead>
    <tbody>
        {% for observation in observations %}
        <tr>
            <td>{{ observation.date_observation }}</td>
            <td>{{ observation.libelle_ecoulement }}</td>
            <td>{{ observation.emoji }}</td>
            <td>{{ observation.code_campagne }}</td>
            <td><a class="lien_détails" href="{{ observation.uri_cours_eau }}">Voir cours d'Eau</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<footer>
    <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>
</body>
</div>
</html>
{% endblock %}
