{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block body %}
<section id="header">
    <a href="#"><img src="/static/img/logo.png"></a>
    <div>
        <ul id="navbar">
            <li><a href="#" class="acceuil">Accueil</a></li>
            <li><a href="#">Comparaison</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Actus</a></li>
        </ul>
    </div>
</section>

<section id="bannierre">
    <img src="/static/img/b1.jpg" alt="" class="image-pleine-largeur">
</section>

<section class="container">
    <div class="half-width">
      <div class="left-column">
        <div class="left-column-item">
          <h1>Dernière Nouvelle</h1>
          <a href="#"><img src="/static/img/nouvelle.png" alt=""></a>
        </div>
        <div class="left-column-item">
          <h1>Notre but</h1>
          <a href="#"><img src="/static/img/anime_river.jpg" alt="" width="300px"></a>
        </div>
      </div>
    </div>
    <div class="half-width">
      <div class="left-column">
        <div class="left-column-item">
          <h1>Recherche de donnée</h1>
          <a href="{{ url_for('view_region') }}"><img src="/static/img/icone_loupe.png" alt="" width="200px"></a>
        </div>
        <div class="left-column-item">
          <h1>Notre but</h1>
          <a href="#"><img src="/static/img/anime_river.jpg" alt="" width="300px"></a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
