{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="body_index">
  
<section id="header">
    <a href="{{ url_for('home') }}">

      <div href="{{ url_for('home') }}" class="loader">
        <span>riverflow</span>
        <span>riverflow</span>
      </div>
    </a>
    <div class="menu-toggle" id="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <script>
      document.getElementById('menu-icon').addEventListener('click', function() {
          var navbar = document.getElementById('navbar');
          if (navbar.style.display === "flex") {
              navbar.style.display = "none";
          } else {
              navbar.style.display = "flex";
          }
      });
    </script>
    <div>
        <ul id="navbar">
          <a href="{{ url_for('home') }}" class="lien">Accueil</a>
          <a href="#" class="lien">Comparaison</a>
          <a href="{{ url_for('but') }}" class="lien">À propos</a>
          <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
        </ul>
    </div>
</section>

<section id="bannierre">
    <img src="/static/img/b1.jpg" alt="" class="image-pleine-largeur">
</section>

<section class="container">
  <div class="half-width">
    <div class="left-column">
      <div class="left-column-item">
        <h1>Dernière Nouvelle</h1>
        <a href="{{ url_for('derniere_nouvelle') }}">
          <button class="recherche">
            <span class="span">📢</span>
          </button>
        </a>
      </div>
      <div class="left-column-item">
        <h1>Notre But</h1>
        <a href="{{ url_for('but') }}">
          <button class="recherche">
            <span class="span">🎯</span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="half-width">
    <div class="left-column">
      <div class="left-column-item">
        <h1>Recherche de données</h1>
        <a href="{{ url_for('view_region') }}">
          <button class="recherche">
            <span class="span">🔎</span>
          </button>
        </a>
      </div>
      <div class="left-column-item">
        <h1>Choisir une Date et un Lieu</h1>
        <a href="{{ url_for('select_observation') }}">
          <button class="recherche">
            <span class="span">📅</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<h2 class="titre_video">Vidéo à la une</h2>
<div class="video_container">
  <iframe class="video" width="1120" height="630" src="https://www.youtube.com/embed/nexk-0udrqc?si=7P9OgAztUTeSR6nP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
  <br>
<footer>
  <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>
</body>
</html>
{% endblock %}
