{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">

{% endblock %}

{% block body %}
<body class="body_global">
<section id="header">
    <a href="{{ url_for('home') }}">
      <div class="loader">
        <span>riverflow</span>
        <span>riverflow</span>
      </div>
    </a>
    <div class="menu-toggle" id="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <script>
        document.getElementById('menu-icon').addEventListener('click', function() {
            var navbar = document.getElementById('navbar');
            if (navbar.style.display === "flex") {
                navbar.style.display = "none";
            } else {
                navbar.style.display = "flex";
            }
        });
    </script>
    <div>
        <ul id="navbar">
            <a href="{{ url_for('home') }}" class="lien">Accueil</a>
            <a href="{{ url_for('but') }}" class="lien">À propos</a>
            <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
        </ul>
    </div>
</section>

<section id="bannierre">
    <img src="/static/img/river.jpg" alt="" class="image-pleine-largeur">
</section>

<section id="actualites">
    <p></p>
    <div class="container">
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2022)</h2>
            <p>Bulletin n°11 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2022.pdf" target="_blank">Onde 2022</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2021)</h2>
            <p>Bulletin n°10 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2021.pdf" target="_blank">Onde 2021</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2020)</h2>
            <p>Bulletin n°9 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2020.pdf" target="_blank">Onde 2020</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2019)</h2>
            <p>Bulletin n°8 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2019.pdf" target="_blank">Onde 2019</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2018)</h2>
            <p>Bulletin n°7 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2018.pdf" target="_blank">Onde 2018</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2017)</h2>
            <p>Bulletin n°6 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2017.pdf" target="_blank">Onde 2017</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2016)</h2>
            <p>Bulletin n°5 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2016.pdf" target="_blank">Onde 2016</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2015)</h2>
            <p>Bulletin n°4 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2015.pdf" target="_blank">Onde 2015</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2014)</h2>
            <p>Bulletin n°3 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2014.pdf" target="_blank">Onde 2014</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2013)</h2>
            <p>Bulletin n°2 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2013.pdf" target="_blank">Onde 2013</a>
        </div>
        <div class="article">
            <h2>Observation des écoulements des cours d’eau en été (données de 2012)</h2>
            <p>Bulletin n°1 : Observation des écoulements des cours d'eau en été</p>
            <a href="/static/news/ecoulements_2012.pdf" target="_blank">Onde 2012</a>
        </div>

    </div>
</section>
<footer>
    <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>
</body>
{% endblock %}
