<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Régions</title>
    <link rel="stylesheet" href="{{url_for('static', filename='regions.css')}}">
</head>
<body>
<section id="header">
    <a href="#">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div>
        <ul id="navbar">
          <a href="#" class="lien">Accueil</a>
          <a href="#" class="lien">Comparaison</a>
          <a href="#" class="lien">À propos</a>
          <a href="#" class="lien">Actus</a>
        </ul>
    </div>
</section>

<section id="display_regions">
    <h1>Les Régions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom de la région</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
            <tr>
                <td>{{ region.libelle_region }}</td>
                <td><a class="lien_détails" href="{{ url_for('view_region_details', code_region=region.code_region) }}">Voir détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</body>
</html>
