<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Régions</title>
    <link rel="stylesheet" href="{{url_for('static', filename='regions.css')}}">
</head>
<body>
<section id="header">
    <a href="#"><img src="/static/img/logo.png"></a>
    <div>
        <ul id="navbar">
            <li><a href="#" class="acceuil">Accueil</a></li>
            <li><a href="#">Comparaison</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Actus</a></li>
        </ul>
    </div>
</section>

<section id="display_regions">
    <h1>Les Régions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom de la région</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
            <tr>
                <td>{{ region.libelle_region }}</td>
                <td><a href="{{ url_for('view_region_details', code_region=region.code_region) }}">Voir détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</body>
</html>
