<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélectionner Date et Station d'Observation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='select_observation.css') }}">
</head>
<body class="body_global">
    <section id="header">
        <a href="{{ url_for('home') }}">
            <div class="loader">
                <span>riverflow</span>
                <span>riverflow</span>
            </div>
        </a>
        <div class="menu-toggle" id="menu-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <script>
            document.getElementById('menu-icon').addEventListener('click', function() {
                var navbar = document.getElementById('navbar');
                if (navbar.style.display === "flex") {
                    navbar.style.display = "none";
                } else {
                    navbar.style.display = "flex";
                }
            });
        </script>
        <div>
            <ul id="navbar">
              <a href="{{ url_for('home') }}" class="lien">Accueil</a>
              <a href="{{ url_for('but') }}" class="lien">À propos</a>
              <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Articles</a>
            </ul>
        </div>
    </section>

    <div class="form-container">
        <h1 class="h1_tab">Sélectionner les dates et la station</h1>
        <form method="post">    
            <div class="form-group">
                <label for="date_min">Date de début:</label>
                <input type="date" id="date_min" name="date_min" required>
            </div>
            <div class="form-group">
                <label for="date_max">Date de fin:</label>
                <input type="date" id="date_max" name="date_max" required>
            </div>
            <div class="form-group">
                <label for="station_id">Station:</label>
                <select id="station_id" name="station_id" required>
                    {% for station in stations %}
                    <option value="{{ station.code_station }}">{{ station.libelle_station }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn_obs" type="submit">Valider</button>
        </form>
    </div>

    <footer>
        <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
    </footer>
</body>
</html>
