{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stations.css')}}">
{% endblock %}

{% block body %}
<section id="header">
    <a href="{{ url_for('home') }}">
        <div class="loader">
            <span>riverflow</span>
            <span>riverflow</span>
        </div>
    </a>
    <div>
        <ul id="navbar">
            <a href="{{ url_for('home') }}" class="lien">Accueil</a>
            <a href="#" class="lien">Comparaison</a>
            <a href="{{ url_for('but') }}" class="lien">À propos</a>
            <a href="{{ url_for('derniere_nouvelle') }}" class="lien">Actus</a>
        </ul>
    </div>
</section>

<section id="display_stations">
    <h1>Stations dans la commune {{ libelle_commune }}</h1>
    <table border="1">
        <tr>
            <th>Code Station</th>
            <th>Libellé Station</th>
            <th>État de la Station</th>
            <th>Dernière Mise à Jour</th>
            <th>Détails</th>
        </tr>
        {% for station in stations %}
        <tr>
            <td>{{ station.code_station }}</td>
            <td>{{ station.libelle_station }}</td>
            <td>{{ station.etat_station }}</td>
            <td>{{ station.date_maj_station }}</td>
            <td><a class="lien_détails" href="{{ station.uri_cours_eau }}" target="_blank">Voir Cours d'Eau</a></td>
        </tr>
        {% endfor %}
    </table>
</section>
<footer>
    <p>Copyright © 2023 RiverFlow. All rights reserved.</p>
</footer>

{% endblock %}